:root{
    --dark_gray: #1c1c1c;
    --dark_gray_70: rgba(28, 28, 28, .7);
    --light_gray: #e3e3e3;
    --yellow: #e6ee9c;
    --yellow_70: rgba(230,238,156,.7);
    --green: #216822;
    --red: #af3a3a;

    --yellow_shadow: 0px 0px 9px 1px #e6ee9c;
}


@font-face {
    font-family: 'roboto';
    src: url('/static/fonts/Roboto-Regular.ttf');
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background-size: auto;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }

    .welcome-modal {
        width: 70%;
        height: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background-size: cover;
    }

    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .welcome-modal {
        max-width: 20%;
        max-height: 80%;
    }
}


body{
    font-family: roboto;
    font-weight: bold;
    color: var(--yellow);
    background: var(--dark_gray);

    background-image: url('/static/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    padding: 0;
    margin: 0;

    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.content{
    position: absolute;
    padding: 10px;
    margin: 0;
    height: 100%;
    width: 100%;
}


.welcome-modal{
    position: relative;
    background-color: var(--dark_gray_70);
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px;
    /*box-shadow: var(--yellow_shadow);
    backdrop-filter: blur(3px);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgba( 228,226,226, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    border: 1px solid rgba( 228,226,226, 0.2);
}


.welcome-modal h4{
    text-align: center;
    display: block;
}


.button-container {
    width: 100%;
    margin: 5px;
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button-container input {
    margin: 0;
    padding: 2px;
    color: var(--light_gray);
}


.btn {
    width: 70%;
    color: var(--yellow);
}

.button:hover {
    font-size: 1,5rem;
    background-color: red;
}