<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>KETT</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection">

    <script src="/static/js/jquery-3.6.4.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/index.js" defer></script>
</head>

<body>
    <div id="content" class="content">

        <div class="welcome-modal">

            <h4>SINGLE MODE</h4>

            <div class="button-container">
                <a class="waves-effect waves-light btn" href="/single">ENTER</a>
            </div>

        </div>

        <div class="welcome-modal">

            <h4>SUPERVISED MODE</h4>

            <div class="button-container">

                <div class="input-field col s6">
                    <input id="eventid" type="text" class="validate">
                    <label for="eventid">Event ID</label>
                </div>

                <a class="waves-effect waves-light btn" href="#">ENTER</a>

            </div>

        </div>

        <div class="welcome-modal">

            <h4>SUPERVISOR</h4>

            <div id="cos_form_container" class="form-container">
                    <div class="input-field col s6">
                        <input id="uname" type="text" class="validate">
                        <label for="uname">Username</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="passw" type="password" class="validate">
                        <label for="passw">Paswword</label>
                    </div>
                </div>

            <a class="waves-effect waves-light btn">ENTER</a>

        </div>

    </div>
</body>

</html>