<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>KETT</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection">

    <script src="/static/js/jquery-3.6.4.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/index.js" defer></script>
</head>

<body>
    <div id="content">
        <div id="welcome_modal" class="welcome-modal">

            <h4>KETT</h4>

            <div id="cos_button_container" class="button-container" onmouseover="showCosPanel()" onmouseleave="hideCosPanel()">
                <a class="waves-effect waves-light btn">MAIN STAFF</a>
                <div id="cos_form_container" class="form-container" hidden>
                    <div class="input-field col s6">
                        <input id="uname" type="text" class="validate">
                        <label for="uname">Username</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="passw" type="password" class="validate">
                        <label for="passw">Paswword</label>
                    </div>
                </div>
            </div>

            <div id="single_button_container" class="button-container">
                <a class="waves-effect waves-light btn" href="/single">SINGLE MODE</a>
            </div>

        </div>
    </div>
</body>

</html>