:root{
    --dark_gray: #1c1c1c;
    --dark_gray_70: rgba(28, 28, 28, .7);
    --light_gray: #e3e3e3;
    --light_gray_70: rgba(227, 227, 227,.7);
    --light_gray_40: rgba(227, 227, 227,.4);
    --yellow: #e6ee9c;
    --orang: #e8a13f;
    --blu: rgb(112, 147, 187);
    --yellow_70: rgba(230,238,156,.7);
    --yellow_40: rgba(230,238,156,.4);
    --green: #216822;
    --red: #c42b2b;

    --yellow_shadow: 0px 0px 9px 1px #e6ee9c;
    --yellow_shadow_left: -5px 0px 10px 1px #e6ee9c;
    --light_gray_shadow: 0px 0px 9px 1px #e3e3e3;
}

@keyframes blink {
    0%   {opacity: 0;}

    12.5%  {opacity: 0.25;}
    25%  {opacity: 0.5;}

    50% {opacity: 1;}

    62.5% {opacity: 0.75;}
    75% {opacity: 0.5;}

    100% {opacity: 0;}
}

@font-face {
    font-family: monserrat;
    src: url(../fonts/Montserrat-Medium.ttf)
}

@font-face {
    font-family: istok;
    src: url(../fonts/IstokWeb-Regular.ttf)
}



body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


#app{
    position: relative;
    height: 100vh;
    width: 100vw;

    background-image: url("../img/bg.jpg");
    background-color: var(--dark_gray);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
    padding: 0;
    margin: 0;

    /* NOSELECT! */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

    font-family: istok;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--light_gray);

    /*border: 5px solid rgb(206, 156, 20);*/

    display: grid;

    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;

    justify-content: space-evenly;
    grid-template-areas:
        "counter_upper info_upper"
        "counter_lower info_lower";

}


.blinker{
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.btn{
    position: relative;
    border-radius: 5px;
    background-color: var(--light_gray);
    color: var(--dark_gray);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transform: .2s ease;
    cursor: pointer;
    width: fit-content;
}

.btn p{
    margin: 0;
}


.btn:hover{
    filter: brightness(90%);
}

.btn:active{
    filter: brightness(110%);
}

.green_btn{
    background-color: var(--green);
    color: var(--dark_gray);
}

.red_btn{
    background-color: var(--red);
    color: var(--light_gray);
}

.orange_btn{
    background-color: var(--orang);
    color: var(--dark_gray);
}

.blue_btn{
    background-color: var(--blu);
    color: var(--dark_gray);
}


